@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<GeoElecMVC.Models.Place>

@{
    ViewData["Title"] = "List Place";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditPlaceForm">
    <div class="form-horizontal">
        <h4>Insert the id of the place:</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Generator Id</label>
            <div class="col-md-10">
                <input value="@ViewData["generatorId"]" class="form-control" name="generatorid" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Place Id</label>
            <div class="col-md-10">
                <input value="@ViewData["placeId"]" class="form-control" name="placeid" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<p>
    <a asp-action="GoToIndexPlace">Place</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Place_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
        </tr>
    }
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>